---
import Layout from '../layouts/Layout.astro';
import Spotlight from '../components/Spotlight.astro';
---

<Layout title="Spotlight">
	<main>
		<Spotlight />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
